.input-container {
  margin-bottom: 20px;
}

.label-text {
  font-size: 16px;
  font-weight: light;
  font-family: "Poppins", sans-serif;
}

.input-field {
  margin-left: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 200px;
}
